.todo-container {
    display: flex;
    border: 5px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    width: 300px;
    border-radius: 8px;
    box-shadow: 1px 1px 2px rgb(50, 50, 50);
}

.todo-actions {
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

.todo-delete-button {
    background-color: rgb(235, 64, 64);
}