.dialog-container {
    background-color: #e8e8e8;
    width: 400px;
    border-radius: 8px;
    border: 1px solid #888;
    box-shadow: 1px 1px 2px rgb(50, 50, 50);
}

.dialog-container::backdrop {
    background: rgba(0, 0, 0, 0.3);
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.children-container {
    display: flex;
    padding-bottom: 20px;
}

.dialog-buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.accept-button {
    background-color: #ffa500;
}

.accept-button:hover {
    background-color: #ffc04c;
}

.cancel-button {
    background-color: #ff6347;
}

.cancel-button:hover {
    background-color: #ff8c78;
}